body{
font-family: Arial;
margin:40px;
}

.invoice-box{
max-width:1000px;
margin:auto;
border:1px solid #000;
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
}

table,th,td{
border:1px solid black;
padding:6px;
text-align:center;
}

input{
border:none;
width:100%;
}

button{
padding:8px 12px;
margin-top:10px;
}
